.container {
  max-width: 1170px;
  margin: 0 auto;
}

/* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
@media (min-width:320px) {

  /* Header Styles */

  .header {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    background-color: #ebebeb;
    border: 1px solid #ddd;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .header .title {
    display: flex;
    align-items: center;
  }

  .header .title h1  {
    font-size: 18px;
    font-weight: 400;
    margin-right: 15px;
    color: #555555;
    line-height: 20px;
  }

  .header .title span {
    display: inline-block;
    padding: 6px;
    color: #fff;
    background-color: #c52b21;
    font-size: 9px;
    line-height: 6px;
    border-radius: 50%;
  }

  .header .total span {
    font-size: 12px;
    color: #747474;
  }

  .header .list-buttons .add-item {
    cursor: pointer;
    border: none;
    background: transparent;
  }

  .header .list-buttons .caret {
    cursor: pointer;
    padding: 14px 17px;
    border: none;
    border-radius: 50%;
    background-color: transparent;
  }

  .header .list-buttons .caret:hover {
    background-color: #d7d7d7;
  }

  /* Main Content Styles */

  .list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .list .list-item {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    border: 1px solid #ddd;
    border-bottom: none;
  }

  .list .list-item:first-child {
    border-left: 5px solid #0072bb;
  }

  .list .list-item .list-item-image {
    display: none;
  }

  .list .list-item .list-item-block {
    display: flex;
    align-items: center;
    padding: 5px;
  }

  .list .list-item .list-item-block.moved-left{
    width: 80%;
  }

  .list .list-item .list-item-content h3 {
    font-size: 16px;
    color: #353535;
  }

  .list .list-item .list-item-content h4 {
    font-weight: 400;
    font-size: 14px;
    color: #747474;
  }

  .list .list-item .list-item-content p {
    max-width: 20%;
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    color: #979797;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .list .list-item-content .item-date {
    margin-top: 5px;
    font-size: 12px;
    color: #979797;
  }

  .list .list-item-content .item-date i {
    font-size: 18px;
    padding-right: 5px;
  }

  .more-button {
    /*display: none;*/
    display: block;
    cursor: pointer;
    position: absolute;
    right: 20px;
    padding: 12px 13px;
    line-height: 13px;
    border: 1px solid rgba(255, 255, 255, 0);
  }

  .more-button.hide-button {
    display: none;
  }

  .more-button:hover {
    border: 1px solid #ddd;
    border-radius: 50%;
    box-shadow: 0 3px 2px 0 rgba(169, 160, 160, 0.75);
  }

  .more-button img {
    width: 16px;
    height: 16px;
  }

  .action-buttons {
    /*display: flex;*/
    display: none;
    align-self: stretch;
    width: 40%;
  }

  .action-buttons.display-buttons {
    display: flex;
  }

  .action-buttons .download-btn,
  .action-buttons .delete-btn {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    color: #fff;
  }

  .action-buttons .download-btn {
    background-color: #01c853;
    box-shadow: inset 11px -2px 10px -5px rgba(81, 81, 81, 0.65);
  }

  .action-buttons .delete-btn {
    background-color: #d60000;
  }

  .moved-left {
    margin-left: -100px;
  }

  /* Footer Styles */
  .footer {
    display: flex;
    justify-content: center;
    background-color: #ebebeb;
    border: 1px solid #ddd;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 10px;
  }

}

/* smartphones, Android phones, landscape iPhone */
@media (min-width:480px) {

  /* Main Content Styles */

  .list .list-item .list-item-block {
    display: flex;
    align-items: center;
    padding: 15px;
  }

  .list .list-item .list-item-content p {
    max-width: 40%;
  }
}

/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
@media (min-width:768px) {

  /* Header Styles */

  .header .title h1  {
    font-size: 24px;
  }

  .header .title span {
    font-size: 11px;
  }

  .header .total span {
    font-size: 16px;
  }

  /* Main Content Styles */

  .list .list-item .list-item-image {
    display: block;
    padding: 20px;
  }

  .list .list-item .list-item-block {
    padding: 15px;
  }

  .list .list-item .list-item-image img {
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }

  .list .list-item .list-item-content h3 {
    font-size: 18px;
  }

  .list .list-item .list-item-content h4 {
    font-size: 16px;
  }

  .list .list-item .list-item-content p {
    max-width: 60%;
    font-size: 16px;
  }

  .list .list-item-content .item-date {
    font-size: 14px;
  }

  .more-button img {
    width: 20px;
    height: 20px;
  }

  .action-buttons {
    width: 25%;
  }

  .moved-left {
    margin-left: -250px;
  }

}

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-width:920px) {

  /* Main Content Styles */

  .list .list-item .list-item-content p {
    max-width: 80%;
  }

  .action-buttons {
    width: 20%;
  }
}
