<div class="container">
  <header class="header">
    <div class="list-name">
      <div class="title">
        <h1>List Name</h1>
        <span>{{ newItemsNumber }}</span>
      </div>

      <div class="total">
        <span>Total </span>
        <span>{{ itemsNumber }}</span>
      </div>
    </div>

    <div class="list-buttons">
      <button class="add-item">
        <i class="fas fa-plus"></i>
      </button>

      <button class="caret" (click)="listCollapsed = !listCollapsed">
        <i class="fas fa-caret-down"></i>
      </button>
    </div>
  </header>

  <main>
    <ul class="list" [hidden]=listCollapsed>
      <li class="list-item" *ngFor="let item of listItems">
        <div class="list-item-block">
          <div class="list-item-image">
            <img [src]="item.image" alt="Item image">
          </div>

          <div class="list-item-content">
            <h3>{{ item.name }}</h3>
            <h4>{{ item.description}}</h4>
            <p>{{ item.content }}</p>
            <div class="item-date">
              <i class="far fa-calendar-alt"></i>
              <span class="current-date">{{ systemDate }}</span>
            </div>
          </div>

          <div class="more-button">
            <img src="../../assets/img/more.png" alt="More button">
          </div>
        </div>

        <div class="action-buttons">
          <div class="download-btn">
            <i class="fas fa-2x fa-cloud-download-alt"></i>
          </div>
          <div class="delete-btn">
            <i class="fas fa-2x fa-trash-alt"></i>
          </div>
        </div>
      </li>
    </ul>
  </main>

  <footer class="footer">
    <a href="#">Load more</a>
  </footer>
</div>
