<div class="container">
  <header class="header">
    <div class="list-name">
      <div class="title">
        <h1>List Name</h1>
        <span>1</span>
      </div>

      <div class="total">
        <span>Total</span>
        <span>3</span>
      </div>
    </div>

    <div class="list-buttons">
      <button class="add-item">
        <i class="fas fa-plus"></i>
      </button>

      <button class="caret">
        <i class="fas fa-caret-down"></i>
      </button>
    </div>
  </header>

  <main>
    <ul class="list">
      <li class="list-item">
        <div class="list-item-block">
          <div class="list-item-image">
            <img src="img/img1.jpg" alt="Item image">
          </div>

          <div class="list-item-content">
            <h3>Lorem, ipsum dolor.</h3>
            <h4>Lorem ipsum dolor sit amet.</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere laudantium in omnis laboriosam labore
              accusamus!</p>
            <div class="item-date">
              <i class="far fa-calendar-alt"></i>
              <span class="current-date">{{ systemDate }}</span>
            </div>
          </div>

          <div class="more-button">
            <img src="../../assets/img/more.png">
          </div>
        </div>

        <div class="action-buttons">
          <div class="download-btn">
            <i class="fas fa-2x fa-cloud-download-alt"></i>
          </div>
          <div class="delete-btn">
            <i class="fas fa-2x fa-trash-alt"></i>
          </div>
        </div>
      </li>

      <li class="list-item">
        <div class="list-item-block moved-left">
          <div class="list-item-image">
            <img src="img/img2.jpg" alt="Item image">
          </div>

          <div class="list-item-content">
            <h3>Lorem, ipsum dolor.</h3>
            <h4>Lorem ipsum dolor sit amet.</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere laudantium in omnis laboriosam labore
              accusamus!</p>
            <div class="item-date">
              <i class="far fa-calendar-alt"></i>
              <span class="current-date"></span>
            </div>
          </div>

          <div class="more-button hide-button">
            <img src="../../assets/img/more.png">
          </div>
        </div>

        <div class="action-buttons display-buttons">
          <div class="download-btn">
            <i class="fas fa-2x fa-cloud-download-alt"></i>
          </div>
          <div class="delete-btn">
            <i class="fas fa-2x fa-trash-alt"></i>
          </div>
        </div>
      </li>

      <li class="list-item">
        <div class="list-item-block">
          <div class="list-item-image">
            <img src="img/img3.jpg" alt="Item image">
          </div>

          <div class="list-item-content">
            <h3>Lorem, ipsum dolor.</h3>
            <h4>Lorem ipsum dolor sit amet.</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere laudantium in omnis laboriosam labore
              accusamus!</p>
            <div class="item-date">
              <i class="far fa-calendar-alt"></i>
              <span class="current-date"></span>
            </div>
          </div>

          <div class="more-button">
            <img src="../../assets/img/more.png">
          </div>
        </div>

        <div class="action-buttons">
          <div class="download-btn">
            <i class="fas fa-2x fa-cloud-download-alt"></i>
          </div>
          <div class="delete-btn">
            <i class="fas fa-2x fa-trash-alt"></i>
          </div>
        </div>
      </li>
    </ul>
  </main>

  <footer class="footer">
    <a href="#">Load more</a>
  </footer>
</div>
